.home {
	@include bp-each(font-size, 14px, 18px, 20px, 20px);

	.welcome,
	.text,
	.imagery {
		float: left;

		@include bp(xs, only) {
			float: none;
		}
	}
	
	.welcome {
		font-family: $font-ink;
		color: $black;
		font-weight: bold;
		line-height: 1;
		margin: 1.5em;

		span {
			display: block;
			letter-spacing: -5px;
			margin-top: 0px;

			@include bp(xs, only) {
				letter-spacing: -2px;
				margin-left: -2px;
				text-align: center;
			}

			&:nth-child(1) { 
				font-size: 2.7em;
				opacity: 0.5;

				@include bp-each(font-size, 24px, 38px, 48px, 54px);
			}

			&:nth-child(2) {
				font-size: 3.6em;
				text-transform: uppercase;

				@include bp-each(font-size, 25px, 42px, 62px, 72px);
			}
		}
	}

	div.goto {
		display: table;
		width: 100%;
		max-width: 1200px;
		margin: 50px auto;

		a {
			h4 {
				color: $black;
			}
		}

		> div {
			@include bp-each(width, 100%, 100%, 50%, 50%);
			float: none;
			background: none;
			border: none;
			padding-bottom: 0;
			padding-top: 0;
			vertical-align: middle;
			display: inline-block;
			position: relative;
		}
		
		@extend .cf;
	}

	/*.goto.about, 
	.goto.contact {
		@include bp(md, min) {
			@include transform(translateY(-100px));
		}
	}*/

	.text {
		font-family: $font-vol;
		line-height: 1.1;
		margin: 30px 0;
		padding: 15px;

		h4 {
			margin-bottom: 10px;
		}

		p {
			font-size: 0.8em;
		}

		@include bp-each(font-size, 22px, 24px, 26px, 32px);
		//@include bp-each(width, 80%, 360px, 350px, 400px);

		@include bp(xs, only) {
			text-align: center;
			width: 272px;
			margin: 0 auto;
		}		

		.recent-post {
			opacity: .5;
			margin-bottom: 0;
		}

		&.email {
			text-align: center;
			margin-top: 0;
			padding: 2em 0;
			position: relative;

			@include bp-each(width, 272px, 100%, 660px, 780px);
			@include bp(sm, only) {
				text-align: left;
			}

			&:after {
				display: none;
			}

			&:before {
				content: '';
				background-image: url('/assets/img/mail-icon.png');
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				height: 100%;
				left: 0;
				right: 0;
				opacity: 0.1;

				@include bp(sm, only) {
					background-position: left center;
				}

			}

			& > div {
				font-family: $font-ink;
				font-size: 1em;
				font-style: normal;

			}
		}
	}

	a.goto:hover .text:after {
		opacity: 1;
	}

	.imagery {
		position: relative;
		text-align: center;

		> a {
			position: relative;
			width: 100%;
			height: 100%;
		}

		@include bp(xs, only) {
			width: 272px;
			margin: 0 auto;
		}

		@include bp(sm, max) {
			margin-bottom: 30px;
		}

		img.wd {
			position: relative;
			width: 38%;

			@include shadow(4);
			@include transform(rotate(20deg));
		}

		img.sh {
			position: relative;
			top: 8%;
			left: 5%;
			width: 34%;

			@include shadow(3);
			@include transform(rotate(10deg));
		}

		img.ab1,
		img.ab2 {
			width: 83%;
			left: 8%;
			top: 5%;
			padding: 4% 4% 10%;
			background: white;

			@include transform(rotate(-6deg));
			@include shadow(3);
		}

		img.ab2 {
			@include transform(rotate(6deg));
		}
	}

	.goto.contact {
		text-align: center;
	}
}