@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro|Source+Sans+Pro|Merriweather);

$banner-height: 400px;
$article-inset: 60px;

.post-banner {
	height: $banner-height;
	width: 100%;
	background-image: url('');
	background-position: center center;
	background-size: cover;
	box-shadow: inset 0px -10px 50px -10px rgba(0,0,0,1);
	margin-bottom: -$article-inset;

	.darken {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.5);
	}

	span.title {
		font-size: 64px;
		line-height: 1;
		color: $white;
		text-shadow: 0 2px 5px black;
		height: $banner-height - $article-inset;
		display: table-cell;
		vertical-align: middle;
		font-family: Merriweather, helvetica, arial, sans-serif;
		font-weight: bold;
		text-align: center;
	}
}

article.post-page, section.related-posts {
	background: white;
	@include shadow(2);
}

article.post-page {
	padding: 40px;

	.post-meta {
		font-family: Source Sans Pro;
		font-size: 20px;
		margin-bottom: 20px;
		color: $gray;
	}

	.post-content {
		@mixin text($fontsize) {
			font-size: $fontsize;
			margin-bottom: $fontsize;
			line-height: 1.6;
		}

		font-family: Source Serif Pro, arial, sans-serif;

		p, p *, ol, ul, li, a, table {
			@include text(20px);
		}

		ol, ul {
			padding-left: 30px;

			li:before {
				content: " ";
				position: absolute;
				top: 10px;
				left: -30px;
				height: 10px;
				width: 10px;
				background: $text-color;
				border-radius: 5px;
			}

			li {
				margin-bottom: 5px;
			}
		}

		h2 {
			font-size: 36px;
			margin-bottom: 20px;
			padding-top: 36px;
		}

		h3 {
			font-size: 28px;
			margin-bottom: 20px;
			padding-top: 28px;
		}

		img {
			max-width: 100%;
		}

		code {
			padding: 2px 6px;
		    font-size: 80%;
		    background-color: #f4f4f4;
		    border: 1px solid #ddd;
		    border-radius: 4px;
		    margin: 0 2px;
		}

		pre.highlight code {
			padding: 0;
		    background-color: transparent;
		    border: 0;
		    margin: 0;
		}

		pre.highlight {
			padding: 2px 6px;
		    background-color: #f4f4f4;
		    border: 1px solid #ddd;
		    border-radius: 4px;
		    margin: 0 2px;
		    margin-bottom: 20px;
		    font-size: 20px;
		}

		a {
			white-space: nowrap;
		}

		a:before {
			content: ' ';
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			background: $link-color;
			@include transform(translateY(0));
			transition: 0.2s ease-in-out all;
			opacity: 0;
		}

		a:hover:before {
			@include transform(translateY(-2px));
			opacity: 1;
		}

		
	}
}

section.related-posts {
	background: $primary-color;
	padding: 20px;

	& > header {
		color: $white;
		font-family: Source Sans Pro, arial, sans-serif;;
		font-size: 28px;
		line-height: 1;
		padding: 0 0 20px;
		font-weight: bold;
	}

	.related-post {
		background: $white;
		@include shadow(2);
		margin-bottom: 20px;
		padding: 20px;
		display: block;
		transition: 0.1s ease-out all;

		&:last-child {
			margin-bottom: 0;
		}

		.title {
			color: $text-color;
			font-family: Merriweather, Source Serif Pro;
			font-size: 24px;
			line-height: 1;
			font-weight: bold;
		}

		.date {
			margin-top: 5px;
			font-size: 16px;
			color: $gray;
		}

		&:hover {
			@include shadow(3);
			@include transform(scale(1.05,1.05));
		}


	}
}