image: codogo/pipelines-universal:latest

pipelines:
  default:
    - step:
        script:
          - yarn install
          - yarn run build
  branches:
    master:
      - step:
          script:
            - yarn install
            - yarn run build
            - >
              aws s3 sync
              --exclude "$(cat .s3ignore)"
              --delete
              public/
              s3://codogo-watership-down-site-prod/
            - >
              aws cloudfront create-invalidation 
              --distribution-id=ENY36WYXVXRL4
              --path="/*"
