// --------------------- Search Box -------------------- //

.banner {
	.container {
		padding-top: 150px;
		padding-bottom: 150px;

		h1 {
			margin: 0;
			color: $white;
			text-align: center;
		}
	}
}

.banner.main {
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/assets/img/dev2.jpeg');
	background-size: cover;
}