// --------------------- Search Box -------------------- //

.banner {
	.container {
		padding-top: 150px;
		padding-bottom: 150px;

		h1 {
			margin: 0;
			color: $white;
			text-align: center;
		}
	}
}

.banner.main {
	//background-image: url('../assets/assets/img/dev2.jpeg');
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/assets/img/dev2.jpeg');
	background-size: cover;
	//background-position:center top;
	//opacity: 0.7;
	//background-color: rgba(0, 0, 0, 0.2);
	//box-shadow: 0px 5px 10px rgba(0.1, 0.1, 0.1, 0.2);
}