/*article.news-post {
	a.title {
		font-family: $font-title;
		font-size: 32px;
		margin-bottom: 20px;
		color: $black;
	}

	p {
		font-family: $font-serif;
		font-size: 20px;
		margin-bottom: 20px;
	}
}*/

article.news-post {
	margin-bottom: 2.5em;
	padding-bottom: 2.5em;

	&:not(:last-child) {
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	img {
		max-width: 100%;
		max-height: 50vh;
	}

	hr {
		margin-bottom: 1em;
	}
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.disabled {
		opacity: 0.2;
	}
}