.book-list {
	text-align: left;

	@include bp(xs, only) {
		margin-bottom: 2em;
	}

	div[class*="col-"] {
		@include bp(sm, max) {
			float: none;
			margin: 0 auto;
			max-width: 500px;
		}

		&:nth-child(2n+1) {
			clear: left;
		}
	}

	.img-wrapper {
		display: none;
	}
	.book-cover {
		max-width: 100%;
		height: auto
	}

	.info-wrapper {
		color: $white;
		position: absolute;
		background-color: rgba(1,1,1,0.8);
		top: 20px;
		bottom: 20px;
		left: 20px;
		right: 20px;
		display: none;
		padding: 20px;

		h2 {
			color: $white;
		}
	}

	.book-item:hover {
		.info-wrapper {
			display: block;
		}
	}
}

/*section.book {
	padding: 60px 30px;

	&:hover {
		background: rgba(0,0,0,0.1);
	}

	img.cover {
		width: 100%;
		height: auto;
	}
}


.each-book {
	section {
		margin-top: 60px;
	}

	section.cover {
		img {
			width: 100%;
		}
	}

	section.basic-info {
		.title {
			font-family: $font-title;
			font-size: 50px;
			line-height: 1;
			margin-bottom: 40px;
			display: block;
		}

		.desc {
			font-family: $font-sans;
			font-size: 20px;

			p {
				margin-bottom: 20px;
			}
		}
	}
}*/