// ---- General Colors ---- //

$red: #ff5559;

$white: #fff;

$lightgray: #f9f9f9;
$midgray: #ebebeb;
$gray: #bbb;

$darkgray: #777;
$blackgray: #444;
$black: $blackgray;

$green: #32AB64;

// ---- Site Colors ---- //

$primary-color: $red;
$secondary-color: $lightgray;
$background-color: $white;

// Text Colors
$text-color: $black;
$header-color: $blackgray;
$link-color: $green;

//$navbar-color: #204080;
$navbar-color: $green;