.book-list {
	text-align: left;

	@include bp(xs, only) {
		margin-bottom: 2em;
	}

	div[class*="col-"] {
		@include bp(sm, max) {
			float: none;
			margin: 0 auto;
			max-width: 500px;
		}

		&:nth-child(2n+1) {
			clear: left;
		}
	}

	.img-wrapper {
		display: none;
	}

	/*.book-cover {
		background-image: url('');
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		padding: 50% 50%;
	}*/

	.book-cover {
		max-width: 100%;
		height: auto
	}

	.info-wrapper {
		color: $white;
		position: absolute;
		background-color: rgba(1,1,1,0.8);
		top: 20px;
		bottom: 20px;
		left: 20px;
		right: 20px;
		display: none;
		padding: 20px;

		h2 {
			color: $white;
		}
	}

	.book-item:hover {
		.info-wrapper {
			display: block;
		}
	}
}

// Book Listing

.buy {
	a, select {
		display: inline-block;
		border-radius: 2px;
		padding: 0.4em 0.8em;
		margin-right: 0.2em;
		margin-bottom: 0.5em;
	}

	a {
		color: $white;
		background: $green;			
	}

	select {
		color: $white;
		background: $white;
		color: $black;
		border: none;
		box-shadow: none;

		&:focus {
			outline: none;
		}
	}

	span {
		display: none;
		white-space: nowrap;

		&.usa {
			display: inline;
		}
	}
}