<nav class="site-nav">
	<a href="/" class="logo {% if page.title == 'index' %}active{% endif %}">
		<img src="/assets/img/crest.png" />
		<div class="crest"></div>
		<div class="title">WATERSHIP DOWN<br>ENTERPRISES</div>
	</a>

	<div class="menu-btn"></div>

	<div class="links">
		{% assign sorted_pages = site.pages | sort:"order" %}
		{% for some_page in sorted_pages %}
			{% if some_page.title and some_page.order and some_page.url and some_page.url != '/blog/page2/' and some_page.url != '/blog/page3/'%}
				<div class="link">
					<a class="{% if some_page == page %}active{% endif %}" href="{{ some_page.url | prepend: site.baseurl }}">{{ some_page.title }}</a>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="darken"></div>
</nav>
