---
layout: default
class: book
---

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-5">
			{% if page.slug == 'wd' %}
				<div class="slides">
					<div class="img-wrapper slides">
						<div class="img">
							<img class="active" src="/assets/img/covers/{{ page.slug }}-cover.jpg" alt="Book cover" />
							<img class="longer" src="/assets/img/covers/{{ page.slug }}-cover-2.jpg" alt="Book cover" />
						</div>

						<div class="info">
							<div class="text active">Oneworld illustrated hardback</div>

							<div class="text">Penguin paperback</div>

							<div class="prev">&#x25C0;</div>

							<div class="next">&#x25B6;</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="img-wrapper">
					<img src="/assets/img/covers/{{ page.slug }}-cover.jpg" alt="Book Cover"/>
				</div>
			{% endif %}
		</div>

		<div class="col-xs-12 col-md-7">
			<h1>{{ page.title }}</h1>
			
			<p>{{ page.content }}</p>
			
			<div class="buy">
				<select>
					{% assign links = page.links | sort %}
					{% for loc in links %}
					<option value="{{ loc[0] }}">{{ loc[0] | upcase }}</option>
					{% endfor %}
				</select>

				{% for loc in page.links %}
					<span class="{{ loc[0] }}">
						{% for edition in loc[1] %}
							<a href="{{ edition.link }}" target="_blank">{{ edition.label }}</a>
						{% endfor %}
					</span>
				{% endfor %}
			</div>
		</div>

		{% if page.reviews %}
			<div class="col-xs-12">
				<h2>What critics have said:</h2>
				
				<div class="reviews" dataa-masonry='{ "itemSelector": ".review" }'>
					{% for review in page.reviews %}
						<div class="review">
							<div class="quote">
								{{ review.quote }}
							</div>
							<div class="quotee">
								{{ review.quotee }}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endif %}
	</div>
</div>