.home {

	//margin-bottom: 100px;
	@include bp-each(font-size, 14px, 18px, 20px, 20px);

	.welcome, .text, .imagery {
		@include bp-each(margin, $grid-padding-xs, $grid-padding-md, $grid-padding-md, $grid-padding-lg);
		float: left;
		@include bp(xs, only) {
			float: none;
		}
	}
	
	.welcome {
		font-family: $font-ink;
		color: $black;
		font-weight: bold;
		line-height: 1;

		span {
			display: block;
			letter-spacing: -5px;
			margin-top: 0px;
			@include bp(xs, only) {
				letter-spacing: -2px;
				margin-left: -2px;
				text-align: center;
			}

			&:nth-child(1) { 
				font-size: 2.7em;
				@include bp-each(font-size, 24px, 38px, 48px, 54px);
				opacity: 0.5;
			}
			&:nth-child(2) {
				font-size: 3.6em;
				@include bp-each(font-size, 25px, 42px, 62px, 72px);
				text-transform: uppercase;
			}
		}
	}

	a.goto {
		display: block;
		color: $black;
		float: clear;
		@extend .cf;
	}

	.goto.about, .goto.contact {
		@include bp-each(transform, none, none, translateY(-100px), translateY(-100px));
	}

	.text {
		font-family: $font-vol;
		@include bp-each(font-size, 22px, 24px, 26px, 32px);
		@include bp-each(width, 272px, 360px, 270px, 400px);
		@include bp-each(margin-top, 0, 0, 150px, 150px);
		line-height: 1.1;
		font-style: italic;
		margin-top: 50px;
		@include bp(xs, only) {
			text-align: center;
			width: 272px;
			margin: 0 auto;
		}		

		&:after {
			content: "\25b6";
			font-style: normal;
			position: relative;
			top: 0.1em;
			opacity: 0.5;
			transition: 0.1s linear all;
			@include bp(xs, only) {
				display: none;
			}
		}

		&.email {
			@include bp-each(width, 272px, 100%, 660px, 780px);
			text-align: center;
			margin-top: 0;
			padding: 2em 0;
			position: relative;
			@include bp(sm, only) {
				text-align: left;
			}

			&:after {
				display: none;
			}

			&:before {
				content: '';
				background-image: url('/images/mail-icon.svg');
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				position: absolute;
				top: 0;
				height: 100%;
				left: 0;
				right: 0;
				opacity: 0.1;
				@include bp(sm, only) {
					background-position: left center;
				}

			}

			& > div {
				font-family: $font-ink;
				font-size: 1em;
				font-style: normal;

			}

		}
	}

	a.goto:hover .text:after {
		opacity: 1;
	}

	.imagery {
		height: 360px;
		width: 360px;
		position: relative;

		img.wd {
			position: absolute;
			top: 8%;
			left: 32%;
			width: 55%;
			@include shadow(4);
			transform: rotate(20deg);
		}

		img.sh {
			position: relative;
			top: 8%;
			left: 5%;
			width: 44%;
			@include shadow(3);
			transform: rotate(10deg);
		}

		img.ab1 {
			position: absolute;
			width: 83%;
			left: 8%;
			top: 5%;
			padding: 4% 4% 10%;
			background: white;
			transform: rotate(-8deg);
			@include shadow(3);
			//margin-top: -100px;
		}

		@include bp(xs, only) {
			width: 272px;
			height: 272px;
			margin: 0 auto;
		}
	}

}