@import "bootstrap";
@import "header";
@import "footer";
@import "home";

main {
	position: absolute;
	background: url('/images/paper_fibers.png');
	top: 0;
	left: $navlogo-width-md;
	right: 0;
	min-height: 100%;
	z-index: -1;
	font-family: $font-vol;
	font-size: 16px;
	overflow: hidden;

	@include bp(lg) {
		font-size: 20px;
		left: $navlogo-width-lg;
	}
	@include bp(xs, only) {
		left: 0;
		top: $navbar-height;
		min-height: 0;
	}

	&, div[class*="col-"] {
		@include bp-each(padding, $grid-padding-xs, $grid-padding-md, $grid-padding-md, $grid-padding-lg);
	}

	@include bp(lg) {
		width: $screen-lg-min - $navlogo-width-lg;
	}

	img.full-col {
		display: block;
		width: 100%;
	}

	.img-wrapper {
		text-align: center;
		display: block;

		img, div.info {
			width: 100%;
			max-width: (($screen-lg-min - $navlogo-width-lg - ($nav-padding-lg * 2)) * (5/12)) - ($nav-padding-lg * 2);
		}
	}

	h1, h2, h3 {
		font-family: $font-ink;
		line-height: 1;
		margin: 0.75em 0;
		letter-spacing: -1px;

		&:first-child {
			margin-top: 0;
		}
	}

	h1 {
		font-size: 2em;

		@include bp(xs, only) {
			font-size: 1.6em;
		}
	}

	h2 {
		font-size: 1.6em;
	}

	h1.sub {
		font-size: 1.4em;
		margin-bottom: 5px;

		& + h1 {
			margin-top: 0;
		}
	}

	p {
		
		margin-bottom: 1em;
	}

	a {
		position: relative;
	}

	a.more-info:before {
		content: '';
		position: absolute;
		bottom: 3px;
		left: 0;
		right: 0;
		height: 1px;
		background: $link-color;
	}

	.book {
		text-align: left;

		@include bp(xs, only) {
			margin-bottom: 2em;
		}

		div[class*="col-"] {
			@include bp(sm, max) {
				float: none;
				margin: 0 auto;
				max-width: 500px;
			}

			&:nth-child(2n+1) {
				clear: left;
			}
		}

		h2 {
			margin-top: 1em;
		}

		.img-wrapper {
			display: none;
		}

		/*.book-cover {
			background-image: url('');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			padding: 50% 50%;
		}*/

		.book-cover {
			max-width: 100%;
			height: auto
		}

		.info-wrapper {
			color: $white;
			position: absolute;
			background-color: rgba(1,1,1,0.8);
			top: 20px;
			bottom: 20px;
			left: 20px;
			right: 20px;
			display: none;
			padding: 20px;

			h2 {
				color: $white;
			}
		}

		.book-item:hover {
			.info-wrapper {
				display: block;
			}
		}
	}

	.contact {
		& > a {
			$contact-height: 2em;
			color: $black;
			display: block;
			line-height: $contact-height;
			margin-bottom: 0.5em;

			img {
				height: $contact-height;
				opacity: 0.4;
				margin-right: 0.6em;
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				transition: 0.1s linear all;
			}

			&:hover {
				img {
					opacity: 1;
					filter: grayscale(0%);
					-webkit-filter: grayscale(0%);
				}
			}
		}
	}

	article.news-post {
		margin-bottom: 2.5em;
		padding-bottom: 2.5em;

		&:not(:last-child) {
			border-bottom: 1px solid rgba(0,0,0,0.1);
		}

		img {
			max-width: 100%;
		}
	}

	.review {
		//text-align: center;

		width: 50%;
		@include bp(xs, only) {
			width: 100%;
		}
		//float: left;
		padding: 0 $grid-padding-md;
		@include bp(lg) {
			padding: 0 $grid-padding-lg;
		}
		

		.quote {
			position: relative;
			//padding: 0 20px;
			font-style: italic;
			margin-bottom: 5px;
			border-top: 1px solid rgba(0,0,0,0.1);
			padding-top: 1em;
			//text-align: center;
		}

		&:first-child .quote {
			border: 0;
			padding: 0;
		}

		&:nth-child(2) .quote {
			@include bp(sm) {
				border: 0;
				padding: 0;
			}
		}

		.quotee {
			//text-align: center;
			font-weight: bold;
			padding-bottom: 1em;

			&:before {
				content: "- ";
			}
		}
	}

	.reviews {
		// margin-left: -$grid-padding-lg;
		// margin-right: -$grid-padding-lg;
		margin: 0 -#{$grid-padding-md};
		@include bp(lg) {
			margin: 0 -#{$grid-padding-lg};
		}
	}

	.buy {
		a, select {
			display: inline-block;
			border-radius: 2px;
			padding: 0.4em 0.8em;
			margin-right: 0.2em;
			margin-bottom: 0.5em;
		}

		a {
			color: $white;
			background: $green;			
		}

		select {
			color: $white;
			background: $white;
			color: $black;
			border: none;
			box-shadow: none;

			&:focus {
				outline: none;
			}
		}

		span {
			display: none;
			white-space: nowrap;

			&.usa {
				display: inline;
			}
		}
		
	}

	.slides {
		// padding: 76% 50%;
		position: relative;

		.images {
			position: relative;
			background: white;

			img {
				opacity: 0;
				transition: 0.2s linear opacity;

				&:not(.longer) {
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translateY(-50%) translateX(-50%));
					width: 100%;
					height: auto;
				}

				&.active {
					opacity: 1;
				}
			}
		}		

		.info {
			position: relative;
			height: 2em;
			line-height: 1;
			margin: 0 auto;
			

			.text {
				position: absolute;
				top: 0.5em;
				left: 1em;
				right: 1em;
				text-align: center;
				opacity: 0;
				transition: 0.2s linear opacity;

				&.active {
					opacity: 1;
				}
			}

			.prev, .next {
				width: 1em;
				height: 1em;
				cursor: pointer;
				font-size: 2em;
				top: 0;
				padding-top: 0em;
				position: absolute;
			}

			.prev {
				content: '\25C0';				
				left: 0;
				
			}

			.next {
				content: '\25B6';
				right: 0;
			}
		
		}
	}

}