@import "bootstrap";
@import "header";
@import "footer";

main {
	position: absolute;
	background: url('/images/paper_fibers.png');
	top: 0;
	left: $navlogo-width-md;
	right: 0;
	min-height: 100%;
	z-index: -1;
	font-family: $font-vol;
	font-size: 16px;
	overflow: hidden;

	@include bp(lg) {
		font-size: 20px;
		left: $navlogo-width-lg;
	}

	@include bp(xs, only) {
		left: 0;
		top: $navbar-height;
		min-height: 0;
	}

	&, div[class*="col-"] {
		@include bp-each(padding, $grid-padding-xs, $grid-padding-md, $grid-padding-md, $grid-padding-lg);
	}

	/*@include bp(lg) {
		width: $screen-lg-min - $navlogo-width-lg;
	}*/

	img.full-col {
		display: block;
		width: 100%;
	}

	.img-wrapper {
		text-align: center;
		display: block;

		img, div.info {
			width: 100%;
			max-width: (($screen-lg-min - $navlogo-width-lg - ($nav-padding-lg * 2)) * (5/12)) - ($nav-padding-lg * 2);
		}
	}

	h1, h2, h3 {
		font-family: $font-ink;
		line-height: 1;
		margin: 0.75em 0;
		letter-spacing: -1px;

		&:first-child {
			margin-top: 0;
		}
	}

	h1 {
		font-size: 2em;

		@include bp(xs, only) {
			font-size: 1.6em;
		}

		&.sub {
			font-size: 1.4em;
			margin-bottom: 5px;

			& + h1 {
				margin-top: 0;
			}
		}
	}

	h2 {
		font-size: 1.6em;
	}

	p {
		
		margin-bottom: 1em;
	}

	a {
		position: relative;
	}

	.contact {
		& > a {
			$contact-height: 2em;
			color: $black;
			display: block;
			line-height: $contact-height;
			margin-bottom: 0.5em;

			img {
				height: $contact-height;
				opacity: 0.4;
				margin-right: 0.6em;
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				transition: 0.1s linear all;
			}

			&:hover {
				img {
					opacity: 1;
					filter: grayscale(0%);
					-webkit-filter: grayscale(0%);
				}
			}
		}
	}

	.slides {
		position: relative;

		.images {
			position: relative;
			background: white;

			img {
				opacity: 0;
				transition: 0.2s linear opacity;

				&:not(.longer) {
					position: absolute;
					top: 50%;
					left: 50%;
					@include transform(translateY(-50%) translateX(-50%));
					width: 100%;
					height: auto;
				}

				&.active {
					opacity: 1;
				}
			}
		}		

		.info {
			position: relative;
			height: 2em;
			line-height: 1;
			margin: 0 auto;
			
			.text {
				position: absolute;
				top: 0.5em;
				left: 1em;
				right: 1em;
				text-align: center;
				opacity: 0;
				transition: 0.2s linear opacity;

				&.active {
					opacity: 1;
				}
			}

			.prev, .next {
				width: 1em;
				height: 1em;
				cursor: pointer;
				font-size: 2em;
				top: 0;
				padding-top: 0em;
				position: absolute;
			}

			.prev {
				content: '\25C0';				
				left: 0;
				
			}

			.next {
				content: '\25B6';
				right: 0;
			}
		}
	}
}