@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro|Source+Sans+Pro|Merriweather);
@import 'https://fonts.googleapis.com/css?family=Inknut+Antiqua:400,600,700,800,900|Vollkorn:400,400i,700,700i';

$font-sans: Source Sans Pro, Helvetica, Arial, sans-serif;
$font-serif: Source Serif Pro, Times New Roman, serif;
$font-title: Merriweather, Helvetica, Arial, sans-serif;

$font-title: Vollkorn, sans-serif;
$font-title: Inknut Antiqua, sans-serif;

$font-vol: Vollkorn, sans-serif;
$font-ink: Inknut Antiqua, sans-serif;